/* Styling for the header of the faculty page */

/* Styling for entire container of the faculty header */
.faculty-header-container {
    background-color: var(--blue);
    color: white;

    height: fit-content;
    width: auto;

    margin: auto;
    padding: 20px;
}

/* Styling for the department name */
.faculty-header-container .department-name {
    padding: 10px 0px;
    font-family: var(--metropolisThin);
    font-size: var(--smallFont);
    word-wrap: break-word;
}

/* Styling for the faculty name */
.faculty-header-container .faculty-name {
    font-family: var(--metropolisBold);
    font-size: var(--largeFont);
    word-wrap: break-word;
    text-transform: uppercase;
}

/* Styling for the faculty title */
.faculty-header-container .faculty-title {
    font-family: var(--metropolisRegular);
    word-wrap: break-word;
    font-size: var(--smallFont);
}

/* Styling for the row containing the image and the return to directory text */
.faculty-header-container .image-row {
    justify-content: center;
}

/* Centering text */
.faculty-header-container .image-row .faculty-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Getting rid of typical link UI */
.faculty-header-container .image-row .faculty-col a {
    color: inherit;
    text-decoration: inherit;
}

.faculty-header-container .image-row .return-to-directory-text {
    color: var(--yellow);
    font-size: var(--smallFont);
    font-family: var(--metropolisRegular);
}

/* Styling upon resizing the screen*/
@media screen and (max-width: 800px) {

    .faculty-header-container .department-name {
        font-size: var(--extraSmallFont);
    }

    .faculty-header-container .faculty-name {
        font-size: var(--smallFont);
    }

    .faculty-header-container .faculty-title {
        font-size: var(--extraSmallFont);
    }

    .faculty-header-container .faculty-name span {
        border-top: none !important;
        padding-top: 5px;
    }

    .faculty-header-container .image-row {
        padding-top: 50px;
    }

}


/* Styling for the body in the faculty page */

/* Styling for the faculty body */
.faculty-body-container {
    height: auto;
    margin: auto;
    color: black;
    width: auto;
}

/* Styling for the contact template form! */
.faculty-body-container .contact-container {
    background: var(--blue);
    color: white;

    margin-top: 20px;
    margin-bottom: 20px;

    width: 50%;
    padding: 20px;
    border-radius: 20px;

}

/* Styles for each icon and the text in the contact form */
.contact-container .icon {
    height: 100%;
    font-size: var(--mediumFont);
}

.contact-container .contact-text {
    height: 100%;
    font-family: var(--metropolisRegular);
    font-size: var(--smallFont);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    display: flex;
    align-items: center;
}

/* Styling add user button alignment upon screen resizing */
@media screen and (max-width: 1200px) {
    .faculty-body-container .contact-container {
        width: 60%;
    }

}

/* Styling add user button alignment upon screen resizing */
@media screen and (max-width: 1000px) {
    .contact-container   .contact-text {
        font-size: var(--extraSmallFont);
    }
    .contact-container .icon {
        height: 100%;
        font-size: var(--smallFont);
    }

    .faculty-header-container .image-row .faculty-col h1 {
        text-align: center;
        font-size: var(--extraSmallFont);
    }
}

/* Styling add user button alignment upon screen resizing */
@media screen and (max-width: 800px) {
    .faculty-body-container .contact-container {
        width: 100%;
    }
}

/* ACCORDION STYLING */

.accordion-header {
    width: 100%;
    margin: auto;
    text-align: left;
    font-size: var(--mediumFont);
    text-transform: uppercase;
    color: var(--blue);
    word-wrap: break-word;
}

.faculty-body-container .accordion-container {
    margin: auto;
    width: 100%;
    padding-top: 25px;
    word-wrap: break-word;
}

/* https://stackoverflow.com/questions/66335238/changing-the-color-arrow-in-bootstrap */
/* All three below classes were taken from above link */
.faculty-body-container .accordion-button:is(.collapsed),
.faculty-body-container .accordion-button:not(.collapsed) {
    z-index: 0;
    margin: auto;
}

.faculty-body-container .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}


/* REGULAR TEXT AREA STYLING */

/* Styling for the labels that appears on each of the topics */
.faculty-body-container .label {
    font-family: var(--metropolisRegular);
    font-size: var(--mediumFont);
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

/* Styling for the span that appears on the label */
.faculty-body-container .label span {
    border-bottom: 5px yellow solid;
}

/* Styling for the content of each section */
.faculty-body-container .body-text {
    font-family: var(--metropolisThin);
    font-size: var(--smallFont);
    word-wrap: break-word;
}


/* Styling add user button alignment upon screen resizing */
@media screen and (max-width: 600px) {
    .faculty-body-container .body-text {
        font-size: var(--extraSmallFont);
    }

    .faculty-body-container .label {
        font-size: var(--smallFont);
    }

    .faculty-body-container .text-container {
        font-size: var(--extraSmallFont);
    }

    .faculty-body-container .icon-container {
        text-align: center;
    }
    .accordion-header {
        font-size: var(--smallFont);
    }
}