/* Styling for container of an editable component */
.background-container {
    background-color: var(--blue);
    border-radius: 40px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.background-container .text-editable-container {
    color: black;
    padding: 20px;
    width: 100%;
}

.background-container .text-editable-container .styling {
    padding: 20px;
    background-color: var(--lightest-grey);
    border-radius: 20px;
    border: 1px black solid;
}

.background-container .title {
    font-size: var(--largeFont);
    font-family: var(--metropolisBold);
    padding-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Restyles event and event edit carousle container upon screen resizing */
@media screen and (max-width: 800px) {
    .background-container .title {
        font-size: var(--mediumFont);
        text-align: center;
    }
    .background-container .text-editable-container {
        width: 100%;
    }
}

/* Restyles event and event edit carousle container upon screen resizing */
@media screen and (max-width: 600px) {
    .background-container .title {
        font-size: var(--smallFont);
    }
}

/* Restyles event and event edit carousle container upon screen resizing */
@media screen and (max-width: 300px) {
    .background-container .title {
        font-size: var(--extraSmallFont);
    }
}