/*The container for each of the parent components */
.editable-list-container {
    background-color: var(--blue);
    font-size: var(--mediumFont);
    color: white;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}


/* Container for buttons and header of the parents-component */
.buttons-container {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
}


/* Styling for the delete parent component button, upon hover as well */
.delete-component button {
    background-color: red;
    font-size: 25px;
    color: white;
    border: none;
}
.delete-component button:hover {
    background-color: rgb(216, 30, 30);
}


/* Styling for the add parent component button, upon hover as well */
.add-component button {
    background-color: var(--blue);
    font-size: 25px;
    color: white;
    border: none;
}
.add-component button:hover {
    background-color: var(--darkGrey);
}

/* Styling for the container that holds the reordering page component buttons */
.reorder-page-component {
    text-align: left;
}

/* Styling of the reorder page buttons, upon hover and when disabled */
.reorder-page-component button {
    background-color: var(--blue);
    color: white;
    font-size: 30px;
    border: none;
}
.reorder-page-component button:hover {
    background-color: var(--darkGrey);
}
.reorder-page-component button:disabled {
    opacity: .5;
    background-color: var(--blue);
    color: white;
}


/* Restyles buttons upon resizing */
@media screen and (max-width: 800px) {
    .reorder-page-component button {
        font-size: 15px;
    }
    .add-component button {
        font-size: 15px;
    }
    .delete-component button {
        font-size: 15px;
    }
}
