/* Container for one nested component */



/* Title styling for the header above a specific nested component in a parent component */
.background-container .nested-component-title h1 {
    font-family: var(--metropolisBold);
    font-size: var(--largeFont);
    color: white;
    margin: auto;
    word-wrap: break-word;
}


/* Styling for the container that holds the reordering nested component buttons */
.reorder-nested-component {
    text-align: center;
    justify-content: center;
    margin: auto;
}

/* Styling for the reorder buttons themselves, upon hover and when disabled */
.reorder-nested-component button {
    background-color: transparent;
    color: white;
    font-size: 60px;
    border: none;
    margin: auto;
}
.reorder-nested-component button:disabled {
    opacity: .5;
    background-color: transparent;
    color: white;
}
.reorder-nested-component button:hover {
    color: var(--yellow);
    background-color: transparent;
}



/* Styling for the delete nested component button, upon hover as well */
.delete-nested-component button {
    color: black;
    background-color: transparent;
    font-size: 25px;
    border: none;
}
.delete-nested-component button:hover {
    color: red;
    background-color: transparent;
}


/* Restyles upon screen resizing */
@media screen and (max-width: 800px) {
    .background-container .nested-component-title h1 {
        font-size: var(--mediumFont);
        text-align: center;
    }
    .reorder-nested-component button {
        text-align: center;
        font-size: var(--mediumFont);
    }
}


/* Restyles upon screen resizing */
@media screen and (max-width: 600px) {
    .background-container .nested-component-title h1 {
        font-size: var(--smallFont);
    }
}

/* Restyles upon screen resizing */
@media screen and (max-width: 300px) {
    .background-container .nested-component-title h1 {
        font-size: var(--extraSmallFont);
    }
}
