/* Styling for Project List Component */

/* Container for the project com */
.projects-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Spacing between project cards */
.projects-container .project-row {
    padding: 25px 0px 25px 0px;
}


.edit-button Button{
    font-size: var(--smallFont);
    font-family: var(--metropolisBold);
    background-color: var(--blue);
    margin: 20px;
}