/*The container for each of the events in the event carousel */
.event-carousel-container {
    background-color: var(--blue);
    font-size: var(--mediumFont);
    color: white;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Container for just one event and its information */
.individual-event {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
}

/* Container for buttons and header of the events-container */
.buttons-container {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Title styling for the header above a specific event in the event carousel */
.individual-event .nested-component-title {
    font-size: var(--mediumFont);
    color: white;
    font-family: var(--metropolisBold);
    text-align: left;
    justify-content: center;
    margin: auto;
}

/* Styling for the container that holds the reordering nested component buttons */
.reorder-nested-component {
    text-align: center;
    justify-content: center;
    margin: auto;
   
}

/* Styling for buttons themselves, upon hover and when disabled */
.reorder-nested-component button {
    background-color: transparent;
    color: white;
    font-size: 60px;
    border: none;
    margin: auto;
}

.reorder-nested-component button:disabled {
    opacity: .5;
    background-color: transparent;
    color: white;
}

.reorder-nested-component button:hover {
    color: var(--yellow);
    background-color: transparent;
}


/* Styling for the actual event container */
.individual-event .event-styling {
    box-shadow: 5px 5px 5px var(--darkGrey);
    padding: 20px;
    background-color: var(--lightest-grey);
    border-radius: 20px;
    color: black;
}

/* Styling for the delete component button, upon hover as well */
.delete-component button {
    background-color: red;
    font-size: 25px;
    color: white;
    border: none;
}

.delete-component button:hover {
    background-color: rgb(216, 30, 30);
}

/* Styling for the delete nested component button, upon hover as well */
.delete-nested-component button {
    background-color: transparent;
    font-size: 25px;
    color: black;
    border: none;
}

.delete-nested-component button:hover {
    background-color: transparent;
    color: red;
}


/* Styling for the add component button, upon hover as well */
.add-component button {
    background-color: var(--blue);
    font-size: 25px;
    color: white;
    border: none;
}

.add-component button:hover {
    background-color: var(--darkGrey);
}

/* Styling for the container that holds the reordering page component buttons */
.reorder-page-component {
    text-align: left;
}

/* Styling of the reorder page buttons, upon hover and when disabled */
.reorder-page-component button {
    background-color: var(--blue);
    color: white;
    font-size: 30px;
    border: none;
}

.reorder-page-component button:hover {
    background-color: var(--darkGrey);
}

.reorder-page-component button:disabled {
    opacity: .5;
    background-color: var(--blue);
    color: white;
}

/* Restyles event and event edit carousle container upon screen resizing */
@media screen and (max-width: 800px) {
    .reorder-page-component button {
        font-size: 15px;
    }

    .add-component button {
        font-size: 15px;
    }

    .delete-component button {
        font-size: 15px;
    }
    .individual-event .nested-component-title {
      font-size: .75rem;
    }

    .reorder-nested-component button {
        background-color: transparent;
        color: white;
        font-size: 25px;
        border: none;
        margin: auto;
    }

}