.text-editable-container {
    background-color: var(--lightest-grey);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
    border: 1px black solid;
}

.text-editable-container .title {
    font-size: var(--largeFont);
}

/* Restyles event and event edit carousle container upon screen resizing */
@media screen and (max-width: 800px) {
    .text-editable-container .title {
        font-size: var(--mediumFont);
    }

    .reorder-page-component button {
        margin-bottom: 10px;
        background-color: red;
    }
}

/* Restyles event and event edit carousle container upon screen resizing */
@media screen and (max-width: 600px) {
    .title {
        font-size: var(--smallFont);
    }


    .reorder-page-component button {
        margin-bottom: 10px;
        background-color: red;
    }
}

/* Restyles event and event edit carousle container upon screen resizing */
@media screen and (max-width: 400px) {
    .title {
        font-size: var(--extraSmallFont);
        text-align: center;
    }


    .reorder-page-component button {
        background-color: red;
        font-size: 10px;

    }
}