.custom-carousel {
    background: rgb(20, 54, 100);
    color: black;
    border-radius: 40px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nested-container {
    margin: auto;
    padding: 40px 40px 40px 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
}