/* Styling for the events carousel */

/* Styles container the carousel lives in */
.carousel-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}

/* Styles the actual carousel */
.carousel-container  .custom-carousel {
    background: rgb(20, 54, 100);
    color: black;
    border-radius: 40px;
}