@font-face {
    font-family: Gotham-Regular;
    src: url(../fonts/Gotham\ Regular.otf);
}

.card {
    font-family: Gotham-Regular;
    box-shadow: 5px 5px 5px black;
}

.card .eventText {
    font-family: Gotham-Regular;
    font-size: 1.25rem;
    color: black;
}

.card-header{
    display: block;
    text-align: center;
    font-size: 2rem;
}

.card-button {
    text-align: right;
    justify-content: right;
    display: block;
}