@font-face {
    font-family: Gotham-Regular;
    src: url(../fonts/Gotham\ Regular.otf);
}

.card {
    margin: auto;
    color: white;
    font-family: Gotham-Regular;
    background-color: rgb(20, 54, 100);
    display: flex;
    justify-content: center;
    width: 80%;
    border: none !important;
}

.card .image-container {
    margin: auto;
    width: 500px; /* Set a specific width for the image on larger screens */
    max-width: 100%; /* Ensure the image container does not exceed its parent width */
  }

.card .image-container .card-image {
    width: 100%; /* Set the width to 100% to fill the container */
    height: auto; /* Automatically calculate the height based on the aspect ratio */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px
}

.card .eventText {
    margin: auto;
    text-align: center;
    font-family: Gotham-Regular;
    font-size: 1.25rem;
}

.card-header{
    display: block;
    text-align: center;
    font-size: 2rem;
}

.card-button {
    text-align: right;
    justify-content: right;
    display: block;
}