@font-face {
    font-family: Gotham-Regular;
    src: url(../fonts/Gotham\ Regular.otf);
}

.card {
    margin: auto;
    width: 80%;
    color: white;
    font-family: Gotham-Regular;
    background-color: rgb(20, 54, 100);
    display: flex;
    justify-content: center;
    border: none !important;
}

.card .image-container {
    margin: auto;
    width: 500px; 
    max-width: 100%; 
  }

.card .image-container .card-image {
    width: 100%; 
    height: auto;
    object-fit: cover; 
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px
}

.card .event-text {
    margin: auto;
    text-align: center;
    font-family: Gotham-Regular;
    font-size: 1.25rem;
}

.card .card-header{
    display: block;
    text-align: center;
    font-size: 2rem;
}

.card .card-button {
    text-align: right;
    justify-content: right;
    display: block;
}