.faculty-header-container {
    padding: 20px;
    background-color: var(--blue);
    height: 400px;
    margin: auto;
    color: white;
    width: auto;
}

.faculty-header-container .department-name {
    padding: 10px 0px;
    font-family: var(--metropolisThin);
    font-size: var(--smallFont);
}

.faculty-header-container .faculty-name {
    font-family: var(--metropolisBold);
    font-size: var(--largeFont);
    text-transform: uppercase;
}

.faculty-header-container .faculty-name span {
    border-top: 3px solid yellow;
    padding-top: 5px;
}

.faculty-header-container .faculty-title {
    font-family: var(--metropolisRegular);
    font-size: var(--smallFont);
}

.faculty-header-container .image-row {
    justify-content: center;
}

/* Centering text */
.faculty-header-container .image-row .faculty-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faculty-header-container .image-row .faculty-col a {
    color: inherit;
    text-decoration: inherit;
}

.faculty-header-container .image-row .return-to-directory-text {
    color: var(--yellow);
    font-size: var(--smallFont);
    font-family: var(--metropolisRegular);
}

/* Styling add user button alignment upon screen resizing */
@media screen and (max-width: 800px) {
    .faculty-header-container {
        height: 425px;
    }

    .faculty-header-container .department-name {
        font-size: var(--extraSmallFont);
        text-align: center;
    }

    .faculty-header-container .faculty-name {
        font-size: var(--smallFont);
        text-align: center;
    }

    .faculty-header-container .faculty-title {
        font-size: var(--extraSmallFont);
        text-align: center;
    }

    .faculty-header-container .faculty-name span {
        border-top: none !important;
        padding-top: 5px;
    }

    .faculty-header-container .image-row {
        padding-top: 50px;
    }

    .faculty-header-container .image-row .faculty-col .return-to-directory-text {
        color: var(--yellow);
        font-size: var(--extraSmallFont);
        font-family: var(--metropolisRegular);
        text-align: center;
    }
}

/* Styling add user button alignment upon screen resizing */
@media screen and (max-width: 360px) {
    .faculty-header-container {
        height: 550px;
    }

    .faculty-header-container .image-row .return-to-directory-text {
        padding-bottom: 20px;
        font-size: var(--extraSmallFont);
        text-align: center;
    }
}

.faculty-body-container {
    height: auto;
    margin: auto;
    color: black;
    width: auto;
}

.faculty-body-container .label {
    font-family: var(--metropolisRegular);
    font-size: var(--mediumFont);
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 10px;
}

.faculty-body-container .label span {
    border-bottom: 5px yellow solid;
}

.faculty-body-container .body-text {
    font-family: var(--metropolisThin);
    font-size: var(--smallFont);
}


.faculty-body-container .contact-container {
    background: var(--blue);
    color: white;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    
}

 .icon {
    font-size: var(--smallFont);
}

 .contact-text {
    font-family: var(--metropolisRegular);
    font-size: var(--smallFont); 
    overflow-wrap: break-word;
}

/* Styling add user button alignment upon screen resizing */
@media screen and (max-width: 800px) {
    .faculty-body-container .contact-container {
       width: 100%;
        
    }
    .contact-text {
        font-size: .75rem; 
    }
    .icon {
        font-size: .75rem; 
    }
}


 .container a .publications-text {
    font-family: var(--metropolisRegular);
    font-size: var(--smallFont); 
}

.container a  {
    color: blue;
    text-decoration: inherit;
}
.accordion-header {
    width: 100%;
    margin: auto;
    text-align: left;
    font-size: var(--smallFont);
    text-transform: uppercase;
    color: var(--blue);
}


.faculty-body-container .accordion-container {
    margin: auto;
    width: 80%;
    padding-top: 25px;
}

/* https://stackoverflow.com/questions/66335238/changing-the-color-arrow-in-bootstrap */
/* All three below classes were taken from above link */


.faculty-body-container .accordion-button:is(.collapsed),
.faculty-body-container .accordion-button:not(.collapsed) {
    z-index: 0;
    margin: auto;
}

.faculty-body-container .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}




/* Styling add user button alignment upon screen resizing */
@media screen and (max-width: 800px) {
    .faculty-body-container {
        text-align: center;
    }

    .faculty-body-container .label {
        font-size: var(--smallFont);
    }

    .faculty-body-container .text-container {
        font-size: var(--extraSmallFont);
    }

    .faculty-body-container .icon-container {
        text-align: center;
    }


}