.logInButton {
    color: var(--blue);
    background-color: white;
    font-family: var(--metropolisRegular);
}

/* https://medium.com/wdstack/bootstrap-4-custom-navbar-1f6a2da5ed3c#:~:text=Change%20the%20Navbar%20Color%20or%20Transparency&text=You%20can%20specify%20the%20background,darker%20text%20color%20(black). */
.navbar.second-navbar {
    background-color: rgb(255, 255, 255);
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 0 !important;
}

.logo {
    width: 16.25rem;
}

.navbar-custom {
    background-color: var(--blue);
}

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    font-family: var(--metropolisRegular);
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: rgb(249, 222, 74);
}

.second-navbar .searchBarToggle {
    width: 80px;
    background-color: white;
    color: black;
    font-size: 30px;
    border: none !important;
}

.searchBarToggle:hover {
    background-color: var(--blue);
    color: var(--yellow);
    border: none !important;
}

.second-navbar .searchBar {
    padding: 20px 10px;
    background: var(--blue);
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px black solid;
}

.second-navbar .searchBar .search-text {
    font-size: var(--smallFont);
    font-family: var(--metropolisRegular);
    ;
}

.second-navbar .searchBar .searchButton {
    border: none !important;
    background-color: transparent !important;
}

.second-navbar .searchBar .searchButton:hover {
    color: var(--yellow);
}

/* Resizes the font size */
@media screen and (max-width: 1600px) {
    .second-navbar .searchBar .search-text {
        font-size: var(--extraSmallFont);
    }
}

/* Resizes the logo size */
@media screen and (max-width: 1000px) {
    .logo {
        width: 14rem;
    }
}

.no-indicator-dropdown>.nav-link::after {
    display: none;
}

.nav-item .dropdown-menu {
    left: 20%;
    -webkit-transform: translate(-20%, 0);
    background-color: transparent !important;
    color: black;
    border: none !important;
    padding: none !important;
}

.nav-item .dropdown-menu .dropdown-item {
    padding: 10px 0px;
    border-radius: 20px;
    background-color: white;
    color: var(--blue);
    border: 1px black solid;
    text-align: center;
    width: 70%;
}

.nav-item .dropdown-menu .dropdown-item .text {
    margin: auto;
    font-size: var(--smallFont);
    font-family: var(--metropolisRegular);
}


.nav-item .dropdown-menu .dropdown-item:hover {
    background-color: var(--lightest-grey);
}

 /* Changes font size and header upon resizing */
 @media screen and (max-width: 800px) {
    .nav-item .dropdown-menu .dropdown-item  .text{
        font-size: var(--extraSmallFont);
    }
    .nav-item .dropdown-menu .dropdown-item{
        width: 65%;
    }
}