/* Styling for the project card componenet */


/* Baseline styling for each project card component. */
.project-card {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 1px var(--grey);
}

/* These two classes determine the color of the project component based on whether it is on the left or right */
.project-card-left {
    background-color: var(--blue);
}

.project-card-right {
    background-color: var(--darkGrey);
    box-shadow: -10px 10px 10px 1px var(--grey);
}

/* Gets rid of carousel indicators for the faculty members carousel*/
.carousel-indicators {
    display: none;
}

/* Formats title text on the project card component */
.project-card .title-text {
    font-size: 2rem;
    color: white;
    text-align: center;
    padding-top: 20px;
}

/* Formats link text + the faculty member name text on the project card component + Accordion Contributer component */
.project-card .featured-text {
    font-size: 1.25rem;
    color: var(--yellow);
    margin: 5px 0 25px;
    text-align: center;
}

/* Formats the project images */
.project-card .project-images {
    height: auto;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Formats the caption featured on each image */
.project-card .figure-caption {
    color: white;
    font-size: 1rem;
}

/* Formats the div in which the description text of the event will live */
.project-card .description-div {
    overflow: auto;
    max-height: 60vh;
    background: white;
    border-radius: 40px;
    margin: 20px;
    padding: 40px 20px;
    height: auto;
    box-shadow: 10px 10px 20px rgb(0, 0, 0); 
}

/* Formats the description text of the event */
.project-card .description-text {
    text-align: center;
    color: black;
    font-size: 1.2rem;
    line-height: 25px;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hide_scrollbar_keep_func */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}