/* Styling for page section of the dashboard page */

/* Styling for dashboard page section */
.dashboard-request-section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 80%;
}

/* Allows user to scroll through the requests */
/* https://stackoverflow.com/questions/8631799/make-scrollbars-only-visible-when-a-div-is-hovered-over */
.dashboard-request-section .scroll {
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align:justify;
    border-top: 1px black solid;
}

/* Make scrollbar not appear */
.dashboard-request-section .scroll::-webkit-scrollbar {
    display: none;
}

/* Positioning title*/
.dashboard-request-section .title {
    text-align: left;
    margin: auto;
}

/* Add borders to request-container*/
.dashboard-request-section .request-container {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
}

/* Style the rows of the request-container */
.dashboard-request-section .request-container .rows {
    padding: 20px;
    margin: auto;
    width: 95%;
}

/* Style the rows of the request-container */
.dashboard-request-section .request-container .profile-image {
    margin: 20px;
    margin: auto;
}

/* Style the actual request title in the row */
.dashboard-request-section .request-container .rows .page-name {
    text-align: left;
}

/* Style the container for the redirecting button */
.request-container .rows .new-page-button {
    margin: auto;
}

/* Style the actual redirecting button */
.request-container .rows .new-page-button .link-button {
    background-color: var(--blue);
    border-radius: 50px;
    font-size: 1.25rem;
}

/* Style for hovering over button */
.request-container .new-page-button .link-button:hover {
    background-color: var(--white);
    color: var(--black);
}


/* Style the empty text that will appear when there are no requests */
.dashboard-request-section .request-container .empty {
    color: red;
    text-align: center;
    padding: 10px;
 }

 /* Changes alignment of columns on resizing */
@media screen and (max-width: 800px) {
    .dashboard-request-section .request-container .rows .page-name,
    .dashboard-request-section .request-container .rows    {
        text-align: center;
    }
}