/* Styling for whitelist section of the dashboard page */

/* Styling for dashboard page section */
.dashboard-whitelist-section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 80%;
}

/* Positioning button*/
.dashboard-whitelist-section  .positioning  {
    text-align: right;
    margin: auto;
}

/* Styling the button of the page section */
 .add-user-button Button {
    font-size: 1.25rem;
    background-color: var(--blue);
    border-radius: 20px;
}

/* Styling the button of the page section */
.add-user-button Button:hover {
    background-color: rgb(70, 104, 150);
}


/* Styling for dashboard page section */
.dashboard-whitelist-section .dashboard-whitelist-title {
    padding-top: 50px;
    margin: auto;
}

/* Positioning title*/
.dashboard-whitelist-title .title {
    text-align: left;
    margin: auto;
}

/* Positioning button*/
.dashboard-whitelist-title .button {
    text-align: right;
}

/* Change color and cursor upon hovering over icon*/
.dashboard-whitelist-title .button .icon:hover {
    color: red;
    cursor: pointer;
}

/* Container for actual individuals on the whitelis */
.whitelist-container {
    margin: auto;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align:justify;
    grid-gap: 0px;
    border: 1px black solid;
    background-color: white;
}

/* Make scrollbar not appear */
.whitelist-container::-webkit-scrollbar {
    display: none;
}

 /* Style the empty text that will appear when there are no requests */
 .whitelist-container .empty {
    color: red;
    text-align: center;
    padding: 10px;
 }

 /* Individual user for whitelist */
.whitelist-container .cell{
    width: 100%;
    height: fit-content;
}

/* Search bar */
.search-bar{
    margin: auto;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
}


/* Search bar styling */
.search-bar-style{
    border: 1px black solid;
    border-radius: 20px;
    background-color: white;
}

/* Styling add user button upon screen resizing */
@media screen and (max-width: 800px) {
    .dashboard-whitelist-section .add-user-button  {
        text-align: center;
    }
}
.dashboard-whitelist-section .searchIcon {
    background-color: transparent !important;
    background-color: white;
    color: darkslategrey;
    border: none !important;
}

.dashboard-whitelist-section  .searchIcon:hover {
    color: var(--yellow);
    background-color: var(--blue)  !important;
}
