/* Styling for individual members in the whitelist container */

/*  /* Styling for individual members in the whitelist container */
.individual-whitelist {
    width: 100%;
    padding: 20px;
    margin: auto;
}

/* Styling to make things have margin: auto */
.individual-whitelist .margin-auto {
    margin: auto;
}

/* Styling for edit button */
.individual-whitelist .name {
    text-align: left;
    margin: auto;
    font-family: var(--caslonRegular);
}

/* Styling for edit button */
.individual-whitelist .edit-button {
    background-color: var(--blue);
    border-radius: 20px;
    font-family: var(--caslonRegular);
}

/* Styling for edit button on hover */
.individual-whitelist .edit-button:hover {
    background-color: rgb(70, 104, 150);
}

/* Styling for delete button */
.individual-whitelist .delete-button {
    background-color: white;
    color: black;
    border-radius: 20px;
    border: 1px black solid;
    font-family: var(--caslonRegular);
}

/* Styling for delete button on hover */
.individual-whitelist .delete-button:hover {
    background-color: var(--lightest-grey);
}

/* Styling the alignment of the name on screen resizing */
@media screen and (max-width: 800px) {
    .individual-whitelist .name {
        text-align: center;
    }
}